@{
    ViewData["Title"] = "ImportExcelFile";

}
<p class="text-center text-success font-weight-bold">@TempData["message"]</p>

<div class="container">
   
    <div class=" row ">
        <div class="col-6 offset-3 border border-info rounded p-4">
            <form method="post" asp-action="ImportExcelFile" asp-controller="Excel" enctype="multipart/form-data">
                <div class="form-group">
                    <label>file input:</label>
                    <input type="file" name="formFile" class="form-control" accept=".csv,.xls,.xlsx" />
                </div> <br />
                <input type="submit" class="btn btn-sm btn-primary float-right" value="Upload" />
            </form>

        </div>

    </div>

</div>